<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.id.micolous.frogjump" >

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".FrogjumpApplication">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="frjmp.xyz" android:pathPrefix="/g/" />
                <data android:host="www.frjmp.xyz" android:pathPrefix="/g/" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <service
            android:name=".RegistrationIntentService"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="au.id.micolous.frogjump" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GcmIntentService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false" />

        <activity
            android:name=".GeoActivity"
            android:exported="true"
            android:label="@string/title_activity_geo" >

            <!-- geo: URI, which is standard for Android -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="geo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Google Maps, TODO: Add all the domains -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="maps.google.com" android:path="/" />
                <data android:host="maps.google.com" android:pathPrefix="/maps" />
                <data android:host="www.google.com" android:pathPrefix="/maps" />

                <data android:host="maps.google.com.au" android:path="/" />
                <data android:host="maps.google.com.au" android:pathPrefix="/maps" />
                <data android:host="www.google.com.au" android:pathPrefix="/maps" />

                <data android:host="maps.google.co.nz" android:path="/" />
                <data android:host="maps.google.co.nz" android:pathPrefix="/maps" />
                <data android:host="www.google.co.nz" android:pathPrefix="/maps" />

                <data android:host="maps.google.co.uk" android:path="/" />
                <data android:host="maps.google.co.uk" android:pathPrefix="/maps" />
                <data android:host="www.google.co.uk" android:pathPrefix="/maps" />

                <data android:host="maps.google.ca" android:path="/" />
                <data android:host="maps.google.ca" android:pathPrefix="/maps" />
                <data android:host="www.google.ca" android:pathPrefix="/maps" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Text intents. These are used by Google Maps for Android's "share link" -->
            <!-- These aren't really useful at the moment, because the Share links can't be expanded
            with published APIs.

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/plain" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.id.micolous.frogjump.LoginActivity" />
        </activity>
    </application>
</manifest>
